/* Add your CSS styles here */
.dashboard-container {
    margin: 20px;
  }
  

  
  .pie-chart-container {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
  }
  
.tasks-pie-container {
    margin-top: -3%;
  }